<li>
    <%if(locals.user && locals.user.id==comment.user.id){%>
        <a href="/comments/destroy/<%=comment.id%>">Delete</a>
        <%}%>
    <p><%=comment.content%></p>
    <small><%=comment.user.Name%></small>
</li>