
<link rel="stylesheet" href="/css/header.css">
 

   
    <% if (locals.user){ %>
        <div class="topnav">
        <a href="/"  class="home">Home</a>

            
            <a href="/users/profile" class="user">
                <%= user.Name %>
            </a>
      
            <a href="/users/sign-out" class="signout">Sign Out</a>
        </div>
       
    <% }else{ %>
       <div class="topnav">
            <a href="/" class="home">Home</a>

     
            <a href="/users/sign-in" class="signin">Sign In</a>
       
            <a href="/users/sign-up" class="signup">Sign Up</a>
       
        </div>
    <% } %>
    

