<form method="POST" action="/user/log-in">
    <input type="email" name="Email" placeholder="Email" required>
    <input type="password" name="Password" placeholder="Password" required>
    <input type="submit">

</form>