<form method="POST" action="/user/create-session">
    <input type="text" name="Name" placeholder="Name" required>
    <input type="email" name="Email" placeholder="Email" required>
    <input type="password" name="Password" placeholder="Password" required>
    <input type="password" name="ConfirmPassword" placeholder="Confirm Password" required>
    <input type="submit">
</form> 