<form method="POST" action="/users/create-session">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit">

</form>
<a href="/users/auth/google">Google signIn/signUp</a>